@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>What is a privacy policy?</h3>
<p>
    A privacy policy is a legal document where you disclose what data you co
    llect from users, how you manage the collected data and how you use that
    data. The important objective of a privacy policy is to inform users how
    you collect, use and manage the collected.
</p>
<h3>Consent</h3>
<p>
    By using our website, you hereby consent to our Privacy Policy and agr
    ee to its terms.
</p>
<h3>Information we collect</h3>
<p>
    The personal information that you are asked to provide, and the reasons
    why you are asked to provide it, will be made clear to you at the point
    we ask you to provide your personal information.<br />If you contact us
    directly, we may receive additional information about you such as your n
    ame, email address, phone number, the contents of the message and/or at
    tachments you may send us, and any other information you may choose to p
    rovide.<br />When you register for an Account, we may ask for your conta
    ct information, including items such as name, company name, address, email
    address, and telephone number.
</p>
<h3>How we use your information</h3>
<p>
    We use the information we collect in various ways, including to:<br />P
    rovide, operate, and maintain our website<br />Improve, personalize, a
    nd expand our website<br />Understand and analyze how you use our websit
    e<br />Develop new products, services, features, and functionality<br />
    Communicate with you, either directly or through one of our partners, inc
    luding for customer service, to provide you with updates and other inform
    ation relating to the website, and for marketing and promotional purposes
    <br />Send you emails<br />Find and prevent fraud
</p>
<h3>Log Files</h3>
<p>
    Website Name follows a standard procedure of using log files. These files
    log visitors when they visit websites. All hosting companies do this and
    a part of hosting services' analytics. The information collected by log f
    iles include internet protocol (IP) addresses, browser type, Internet Serv
    ice Provider (ISP), date and time stamp, referring/exit pages, and possibl
    y the number of clicks. These are not linked to any information that is per
    sonally identifiable. The purpose of the information is for analyzing trend
    s, administering the site, tracking users' movement on the website, and gath
    ering demographic information.
</p>
<h3>Cookies and Web Beacons</h3>
<p>
    Like any other website, Website Name uses ‘cookies'. These cookies are used
    to store information including visitors' preferences, and the pages on the we
    bsite that the visitor accessed or visited. The information is used to optim
    ize the users' experience by customizing our web page content based on visit
    ors' browser type and/or other information.
</p>
<h3>DoubleClick DART Cookie</h3>
<p>
    Google is one of a third-party vendor on our site. It also uses cookies,
    known as DART cookies, to serve ads to our site visitors based upon their v
    isit to www.website.com and other sites on the internet. However, visitors ma
    y choose to decline the use of DART cookies by visiting the Google ad and con
    tent network Privacy Policy at the following URL –
    <a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads.</a>
    <br />Some of advertisers on our site may use cookies and web beacons. Our adve
    rtising partners are listed below. Each of our advertising partners has their
    own Privacy Policy for their policies on user data. For easier access, we hyp
    erlinked to their Privacy Policies below.<br /><a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>
</p>
<h3>Advertising Partners Privacy Policies</h3>
<p>
    You may consult this list to find the Privacy Policy for each of the advertising
    partners of Website Name.
</p>
<p>
    Third-party ad servers or ad networks uses technologies like cookies, JavaScript
    , or Web Beacons that are used in their respective advertisements and links t
    hat appear on Website Name, which are sent directly to users' browser. They au
    tomatically receive your IP address when this occurs. These technologies are u
    sed to measure the effectiveness of their advertising campaigns and/or to pers
    onalize the advertising content that you see on websites that you visit.
</p>
<p>
    Note that Website Name has no access to or control over these cookies that are
    used by third-party advertisers.
</p>
<h3>Children's Information</h3>
<p>
    Another part of our priority is adding protection for children while using t
    he internet. We encourage parents and guardians to observe, participate in,
    and/or monitor and guide their online activity.
</p>
<p>
    Website Name does not knowingly collect any Personal Identifiable Infor
    mation from children under the age of 13. If you think that your child pro
    vided this kind of information on our website, we strongly encourage you
    to contact us immediately and we will do our best efforts to promptly rem
    ove such information from our records.
</p>

